<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./node_modules/vue/dist/vue.js"></script>
  <script src="./lib/index.js"></script>
  <link rel="stylesheet" href="./lib/theme-chalk/index.css">
</head>
<body>
  <div id="app">
    <s-select :disabled="true" v-model="form.region" placeholder="请选择活动区域">
      <s-option label="区域一" value="shanghai"></s-option>
      <s-option label="区域二" value="beijing"></s-option>
    </s-select>
    <br/><br/><br/><br/>
    <s-form ref="form" :disabled="true" :model="form" label-width="80px">
      <s-form-item label="活动名称">
        <s-input v-model="form.name"></s-input>
      </s-form-item>
      <s-form-item label="活动区域">
        <s-select v-model="form.region" placeholder="请选择活动区域">
          <s-option label="区域一" value="shanghai"></s-option>
          <s-option label="区域二" value="beijing"></s-option>
        </s-select>
      </s-form-item>
      <s-form-item label="活动时间">
        <s-col :span="11">
          <s-date-picker type="date" placeholder="选择日期" v-model="form.date1" style="width: 100%;"></s-date-picker>
        </s-col>
        <s-col class="line" :span="2">-</s-col>
        <s-col :span="11">
          <s-time-picker placeholder="选择时间" v-model="form.date2" style="width: 100%;"></s-time-picker>
        </s-col>
      </s-form-item>
      <s-form-item label="即时配送">
        <s-switch v-model="form.delivery"></s-switch>
      </s-form-item>
      <s-form-item label="活动性质">
        <s-checkbox-group v-model="form.type">
          <s-checkbox label="美食/餐厅线上活动" name="type"></s-checkbox>
          <s-checkbox label="地推活动" name="type"></s-checkbox>
          <s-checkbox label="线下主题活动" name="type"></s-checkbox>
          <s-checkbox label="单纯品牌曝光" name="type"></s-checkbox>
        </s-checkbox-group>
      </s-form-item>
      <s-form-item label="特殊资源">
        <s-radio-group v-model="form.resource">
          <s-radio label="线上品牌商赞助"></s-radio>
          <s-radio label="线下场地免费"></s-radio>
        </s-radio-group>
      </s-form-item>
      <s-form-item label="活动形式">
        <s-input type="textarea" v-model="form.desc"></s-input>
      </s-form-item>
      <s-form-item>
        <s-button type="primary" @click="onSubmit">立即创建</s-button>
        <s-button>取消</s-button>
      </s-form-item>
    </s-form>
  </div>
  <script>

    new Vue({
      data() {
        return {
          form: {
            name: '',
            region: '',
            date1: '',
            date2: '',
            delivery: false,
            type: [],
            resource: '',
            desc: ''
          }
        }
      },
      methods: {
        onSubmit() {
          console.log('submit!');
        }
      }
    }).$mount('#app')
  </script>
</body>
</html>