.s-layout {
  display: flex;
  height: 100%;
  flex: auto;
  flex-direction: column;
  @include background_color($color: '$1-color-5');
  &.s-layout-dark {
    @include background_color($color: '$0-color-1');
  }
  &.s-layout-has-sider {
    flex-direction: row;
  }
  .s-layout {
    height: unset;
  }
}
.s-layout, .s-layout * {
  box-sizing: border-box;
}
.s-layout-header {
  height: 64px;
  z-index: 1;
  @include background_color($color: '$0-color-1');
  @include themeify {
    box-shadow: 0px 1px 4px 0px themed($key: '$2-color-5', $opacity: .12);
  }
  &.s-layout-header-dark {
    @include background_color($color: '$2-color-5');
    @include font_color($color: '$0-color-1');
  }
}
.s-layout-sider {
  position: relative;
  width: 200px;
  transition: all .2s;
  @include background_color($color: '$0-color-1');
  &.s-layout-sider-dark {
    @include font_color($color: '$0-color-1');
    @include background_color($color: '$2-color-5');
  }
}
.s-layout-content {
  flex: auto;
  &.s-layout-content-dark {
    @include background_color($color: '$0-color-1');
  }
}
.s-layout-footer {
  padding: 24px 50px;
  z-index: 1;
  @include themeify {
    box-shadow: 0px -1px 4px 0px themed($key: '$2-color-5', $opacity: .12);
  }
  &.s-layout-footer-dark {
    @include background_color($color: '$2-color-5');
    @include font_color($color: '$0-color-1');
  }
}