.s_table{
  .el-table--mini, .el-table--small, .el-table__expand-icon{
    font-size: 14px;
  }
  .el-table{
    @include font_color('$1-color-1', .65);
    ::-webkit-scrollbar{
      //滚动条整体样式
      width: 10px;
      height: 10px;
    }
    ::-webkit-scrollbar-thumb{
      // 滚动条里的小方块
      width: 10px;
      height: 10px;
      @include background_color('$1-color-1', .06);
      border-radius: 5px;
    }
    ::-webkit-scrollbar-track{
      // 滚动条里面轨道

    }
    thead{
      @include font_color('$1-color-1', .85)
    }
    th{
      @include background_color("$1-color-1", .02);
    }
    td, th{
      padding: 8px 0;
    }
    // 为了解决th td无法对齐情况；暂时没发觉哪里问题导致对不齐
    td .cell{
      // padding-left: 6px;
    }
    td, th.is-leaf{
      // @include border_color('$1-color-1', 0.06);
      border-bottom: solid 1px themed('$1-color-1', 0.06)
    }
    .hover-row{
      @include background_color("$2-color-2");
      >td{
        @include background_color("$2-color-2");
      }
    }
    .el-table__fixed,
    .el-table__fixed-right{
      height: 100% !important;
    }
    &.el-table-fluid-height{
      &.el-table--scrollable-y{
        .el-table__fixed-body-wrapper{
          bottom: 0;
          max-height: 0 !important;
        }
        &.el-table--scrollable-x{
          .el-table__fixed-body-wrapper{
            bottom: 0;
            max-height: 0 !important;
          }
        }
      }
    }
  }
  .pagination{
    float: right;
    margin: 20px;
  }
}