@import "~element-ui/lib/theme-chalk/time-picker.css";

.s-time-picker {
  .el-input__inner {
    @include font_color($color: "$1-color-1", $opacity: 0.65);
  }
  .el-icon-error:before {
    @include font_color($color: "$1-color-1", $opacity: 0.45);
  }
}

.s-time-picker-popper {
  .el-time-spinner__item {
    border-right: 1px solid rgba(0, 0, 0, 0.06);
    &:not(.disabled) {
      &.active {
        @include font_color($color: "$1-color-1", $opacity: 0.85);
        @include background_color($color: "$1-color-1", $opacity: 0.04);
      }
      &:hover:not(.active) {
        @include background_color($color: "$2-color-2");
      }
    }
  }

  .el-scrollbar:last-child .el-time-spinner__item {
    border-right: none;
  }

  .el-time-panel__content:after,
  .el-time-panel__content:before {
    border: none;
  }

  .el-scrollbar__bar {
    &.is-vertical {
      width: 4px;
    }
    &.is-horizontal {
      height: 4px;
    }
  }
}
