.s-treeselect {
  .vue-treeselect__placeholder, .vue-treeselect__single-value {
    line-height: 38px;
  }
  .vue-treeselect__multi-value-item {
    height: 24px;
    height: 22px;
    padding: 0;
  }
  .vue-treeselect__control {
    @include background_color($color: "$0-color-1");
    @include border_color($color: "$1-color-1", $opacity: 0.15);
    border-radius: 2px;
    height: 40px;
  }
  .vue-treeselect__multi-value-item-container {
    padding-top: 6px;
  }
  .vue-treeselect--has-value .vue-treeselect__multi-value {
    margin-bottom: 6px
  }
  .vue-treeselect--searchable.vue-treeselect--multi.vue-treeselect--has-value .vue-treeselect__input-container {
    padding-top: 6px;
  }
  &.s-treeselect--medium {
    font-size: 14px;
    .vue-treeselect__placeholder, .vue-treeselect__single-value {
      line-height: 34px;
    }
    .vue-treeselect__control {
      height: 36px;
    }
    .vue-treeselect__multi-value-item-container {
      padding-top: 3px;
    }
    &.vue-treeselect--has-value .vue-treeselect__multi-value {
      margin-bottom: 2px;
    }
  }
  &.s-treeselect--small {
    font-size: 14px;
    .vue-treeselect__placeholder, .vue-treeselect__single-value {
      line-height: 30px !important;
    }
    .vue-treeselect__control {
      height: 32px;
    }
    &.vue-treeselect--has-value .vue-treeselect__multi-value {
      margin-bottom: 2px;
    }
    .vue-treeselect__multi-value-item-container {
      padding-top: 2px;
    }
    &.vue-treeselect--searchable.vue-treeselect--multi.vue-treeselect--has-value .vue-treeselect__input-container {
      padding-top: 3px;
    }
  }
  &.s-treeselect--mini {
    font-size: 12px;
    .vue-treeselect__placeholder, .vue-treeselect__single-value {
      line-height: 26px !important;
    }
    .vue-treeselect__control {
      height: 28px;
    }
    &.vue-treeselect--has-value .vue-treeselect__multi-value {
      margin-bottom: 1px;
    }
    .vue-treeselect__multi-value-item-container {
      padding-top: 2px;
    }
    .vue-treeselect__multi-value-item {
      height: 22px;
      line-height: 20px;
    }
    &.vue-treeselect--searchable.vue-treeselect--multi.vue-treeselect--has-value .vue-treeselect__input-container {
      padding-top: 2px;
    }
    .vue-treeselect__multi-value-item {
      padding: 0;
    }
  }
  .vue-treeselect__single-value {
    @include font_color($color: "$1-color-1", $opacity: 0.65);
  }
  .vue-treeselect__control-arrow-container {
    transition: transform 0.3s;
    transform: rotate(180deg);
    .vue-treeselect__control-arrow {
      display: none;
    }
    &:before {
      font-size: 14px;
      content: "\e6e1";
      font-family: element-icons;
      @include font_color($color: "$1-color-1", $opacity: 0.25);
    }
  }
  .vue-treeselect__x-container {
    .vue-treeselect__x {
      display: none;
    }
    &:before {
      font-size: 14px;
      content: "\e78d";
      font-family: element-icons;
      @include font_color($color: "$1-color-1", $opacity: 0.25);
    }
  }
  &.vue-treeselect--open {
    .vue-treeselect__control-arrow-container {
      transform: rotate(0);
    }
  }
  &.vue-treeselect--focused {
    .vue-treeselect__control {
      @include border_color($color: "$1-color-1", $opacity: 0.15);
      box-shadow: none;
    }
  }
  &.vue-treeselect--disabled {
    .vue-treeselect__control {
      background-color: #f5f7fa;
      border-color: #e4e7ed;
      color: #c0c4cc;
      cursor: not-allowed;
    }
  }
  &.vue-treeselect:not(.vue-treeselect--disabled)
    .vue-treeselect__multi-value-item:not(.vue-treeselect__multi-value-item-disabled):hover
    .vue-treeselect__multi-value-item:not(.vue-treeselect__multi-value-item-new)
    .vue-treeselect__multi-value-item:not(.vue-treeselect__multi-value-item-new):hover,
  .vue-treeselect__multi-value-item {
    @include font_color($color: "$1-color-1", $opacity: 0.65);
    font-weight: 400;
    @include background_color($color: "$1-color-1", $opacity: .04);
    @include border_color($color: "$1-color-1", $opacity: 0.15);
  }
  .vue-treeselect__multi-value-item:hover .vue-treeselect__value-remove {
    @include font_color($color: "$1-color-1", $opacity: 0.65);
  }
  .vue-treeselect__value-remove {
    border-left: none;
    @include font_color($color: "$1-color-1", $opacity: 0.65);
  }
}
.vue-treeselect--open-below .vue-treeselect__menu {
  margin-top: 5px;
  @include border_color($color: "$1-color-1", $opacity: 0.15);
  @include background_color($color: '$0-color-1');
  box-shadow: none;
  border-radius: 2px;
}

.vue-treeselect__tip-text {
  font-size: 14px;
}
.vue-treeselect__tip {
  @include font_color($color: "$1-color-1", $opacity: 0.65);
  &.vue-treeselect__no-results-tip, &.vue-treeselect__no-options-tip, &.vue-treeselect__no-children-tip {
    .vue-treeselect__icon-container {
      display: none;
    }
  }
}
.vue-treeselect__option {
  @include font_color($color: "$1-color-1", $opacity: 0.65);
  padding: 3px 0;
}
.vue-treeselect__option--highlight {
  font-weight: 400;
  @include background_color($color: "$2-color-2");
  @include font_color($color: "$2-color-4");
}
.vue-treeselect--single .vue-treeselect__option--selected {
  font-weight: 400;
  @include background_color($color: "$2-color-2");
  @include font_color($color: "$2-color-4");
}

.vue-treeselect__option-arrow-container,
.vue-treeselect__option-arrow-placeholder {
  width: 16px;
}
.vue-treeselect__option-arrow {
  width: 6px;
  height: 6px;
  @include font_color($color: "$1-color-1", $opacity: 0.65);
}
.vue-treeselect__label-container {
  font-size: 14px;
}
.vue-treeselect__checkbox {
  width: 16px;
  height: 16px;
  @include border_color($color: "$1-color-1", $opacity: 0.15);
}
.vue-treeselect__checkbox--checked,
.vue-treeselect__checkbox--indeterminate,
.vue-treeselect__label-container:hover .vue-treeselect__checkbox--checked,
.vue-treeselect__label-container:hover
  .vue-treeselect__checkbox--indeterminate {
  @include border_color($color: "$2-color-4");
  @include background_color($color: "$2-color-4");
}
.vue-treeselect__check-mark,
.vue-treeselect__minus-mark {
  top: 3px;
  left: 3px;
}
