@import "../../s-form/src/form.scss";
@import "../../s-form/src/form-item.scss";

.s-form-con {
  &.el-form--inline {
    .el-form-item {
      margin-right: 0;
      display: inline-flex;
      .el-form-item__content {
        flex: 1;
      }
    }
  }
  .el-form-item__content {
    .s-select-con, .s-cascader, .s-time-select, .s-time-picker, .s-date-picker {
      width: 100%;
    }
    .s-checkbox-con {
      line-height: 0;
    }
    .s-rate {
      padding-top: 10px;
    }
  }
  .el-form-item--medium {
    .el-form-item__content {
      .s-rate {
        padding-top: 8px;
      }
    }
    .el-slider__runway {
      margin: 14px 0;
    }
  }
  .el-form-item--small {
    .el-form-item__label {
      line-height: 32px;
    }
    .el-form-item__content {
      line-height: 0;
      .s-rate, .s-switch {
        padding-top: 6px;
      }
      .s-radio-group {
        padding-top: 8px;
      }
      .s-checkbox-con {
        padding-top: 7px;
      }
    }
    .el-cascader--small {
      line-height: 0;
    }
    .el-slider__runway {
      margin: 13px 0;
    }
  }
  .el-form-item--mini {
    .el-form-item__label {
      line-height: 28px;
    }
    .el-form-item__content {
      line-height: 0;
      .s-rate, .s-switch {
        padding-top: 4px;
      }
      .s-radio-group {
        padding-top: 7px;
      }
      .s-checkbox-con {
        padding-top: 5px;
      }
    }
    .el-cascader--mini {
      line-height: 0;
    }
    .el-slider__runway {
      margin: 11px 0;
    }
  }
}